<div class="home">
	<div class="logo">
		<div class="moon">
			<div class="cresent"></div>
		</div>
		<div class="marketing-moon">
			<span class="marketing-text"><span class="big-m">M</span>arketing</span> <span class="moon-text"><span class="big-m">M</span>oon<span>
		</div>
	</div>
	<div class="description">
		Retailers and Services providers need to get their products in the hands of people. They need feedback in the form of reviews. These products
		and services are provided to you at heavy cost, below cost and in many cases free. These products and services are provided to you as Prizes! 
		<br/>
		<br/>
		Choose a prize and let us know you are interested.
	</div>
	<div class="location">
		<div class="location-text">Location: </div>
		<input type="text"></input>	
	</div>
</div>
